@font-face{font-family:'Forme Sans';font-weight:400;font-display:swap;src:url('./Pretendard-Regular.woff2') format('woff2')}
@font-face{font-family:'Forme Sans';font-weight:500;font-display:swap;src:url('./Pretendard-Medium.woff2') format('woff2')}
